#clients {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientPageTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.clientDesc  {
    font-weight: 300;
    font-size: 1rem;
    max-width: 54rem;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}


.clientImgs {
    margin: 1rem 0;
    display: flex;
    gap: 25px;
    align-items: left;
}

.clientImg {
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}






