#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%; /* Correct width */
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem; /* Add unit */
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}


.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}



.contactpageTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.contactDesc  {
    font-weight: 300;
    font-size: 1rem;
    max-width: 54rem;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.confirmationMessage {
    color: green;
    font-size: 1rem;
    margin-top: 10px;
}


