#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
}

.bg {
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 75%;
    max-height: 100%;
    opacity: 0.8;
}

.introContent {
    z-index: 1;
    height: 100vh;
    max-width: 50%;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introtext {
    color: yellow;
    font-size: 2.5rem;
}

.introPara {
    font-size: medium;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn {
    background: white;
    color: black;
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.socialmedialogos
{
    display: flex;
    gap: 30px; /* Adjust gap as needed */
    align-items: center;
    /* Ensures the container is wide enough */
}




@media screen and (max-width:840px){
    .bg {
        right: -10vw

    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}